body {
    font-family: 'Times New Roman', 'Times', serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald",sans-serif;
    font-size: 1.4em;
    font-weight: 500;
}

span.header {
    font-family: "Oswald",sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    margin-left: 15px;
    margin-bottom: 20px;
}

div.card {
   margin-bottom: 20px;
}

.card ul {
    padding-left: 0;
}

.card li {
    margin-left: 20px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.skill-cloud {
    background: transparent url(../images/skill-cloud.png) no-repeat center;
    background-size: contain;
    height: 400px;
}

.navbar {
    margin-bottom: 0;
    height: 100px;
    background-color: transparent;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.navbar-nav>li>a {
    line-height: 70px;
}

.logo-container {
    text-align: center;
    color: #000000;
    margin: 10px 0 20px 0;
}

.logo-container .title {
    font-size: 2.5em;
    font-weight: normal;
}

.logo-container .slogan {
    font-style: italic;
    font-family: 'Times New Roman', 'Times', serif;
}

a, a:hover, a:visited {
    color: #000000;
    text-decoration: none;
}

.footer {
    margin-bottom: 80px;
}

.impress {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.speech {
    text-align: center;
    margin-top: 50px;
}

.speech p {
    font-family: Times New Roman, Times, serif;
    margin-top: 10px;
}

.photo {
    width: 150px;
}

.cite-container {
    margin: 40px 0 20px 0;
    text-align: center;
}

.cite-container .cite {
    font-family: 'Tangerine', cursive;
    font-size: 46px;
    font-weight: bold;
}

.cite-container .author {
    font-size: 1em;
}

.cube-text a, a:hover, a:visited {
    color: #47D8FF;
    text-decoration: underline;
}

.cube-text span.highlight {
    color: #47D8FF;
}

.about .table {
    margin: 0 auto;
    padding: 70px 0;
    width: 770px;
}

.about .table dt {
    font-family: "Oswald",sans-serif;
    clear: left;
    width: 50%;
    float: left;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    border-top: 1px solid rgb(230,230,230);
}

.about .table dd {
    width: 50%;
    float: left;
    font-family: Times New Roman, Times, serif;
    font-weight: normal;
    line-height: 30px;
    text-transform: none;
    text-align: left;
    border-top: 1px solid rgb(230, 230, 230);
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .skill-cloud {
        height: 200px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .skill-cloud {
        height: 280px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .skill-cloud {
        height: 400px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .container {
        width: 768px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    .container {
        width: 768px;
    }
}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
